body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #EEEEEE;
  margin: 0;
  background: #222831;
}

#logo {
  width:100px; 
  height:100px;
}

#hamburger {
  color:#EEEEEE; 
  font-size:30px;
}

.navbar .nav-link {
  color: #EEEEEE;
}

.navbar .nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

header {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

#navbarNav{
  justify-content: right;
}

#name {
  margin-top: 0px;
}

.contact-me {
  background: linear-gradient(180deg, #00ADB5 0%, #00B1C5 100%);
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-top: 10px;
  color: #EEEEEE;
}

.contact-me:hover {
  cursor: pointer;
  opacity: 0.8;
}

#list-container {
  margin: auto;
  width: 65%;
}

.box-txt{
  margin-bottom: 0px;
}

#info-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-height: 350px;
  background-color: #393E46;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#info-box-img{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#info-box-img-img{
  max-height: 200px;
}

#info-box-txt{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#exp-1-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-height: 350px;
  background-color: #393E46;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#exp-1-box-img{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#exp-1-box-img-img{
  max-height: 200px;
}

#exp-1-box-txt{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#exp-2-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-height: 350px;
  background-color: #393E46;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#exp-2-box-img{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#exp-2-box-img-img{
  max-height: 200px;
}

#exp-2-box-txt{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#pace-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 240px;
  background-color: #393E46;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#pace-box-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

#pace-box-img-img{
  width: 200px;
}

#pace-box-txt{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  padding-top: 8px;
}

.fa-github{
  color: #6cc644;
}

.fa-github:hover {
  color: rgba(108, 198, 68, 0.8);
}


.fa-linkedin {
  color: #0072b1;
}

.fa-linkedin:hover {
  color: rgba(0, 114, 177, 0.8);
}

.footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer p{
  font-size: 12px;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .intro-box{
    display: grid;
    grid-template-columns: 1fr;
  }

  .intro-box-text {
    margin-left: 20px;
  }


  .navbar .nav-link:hover {
    text-decoration: none;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    border:0px;
  }

  #list-container {
    margin: auto;
    width: 95%;
  }

}
@media screen and (max-width: 1187px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    border:0px;
  }

  #info-box{
    display: block;
    max-height: 100%;
  }

  #exp-1-box{
    display: block;
    max-height: 100%;
  }

  #exp-2-box{
    display: block;
    max-height: 100%;
  }

  #pace-box{
    display: block;
    max-height: 100%;
  }
}
